<div class="navigation-wrapper">
	<div class="top-navigation">
		<nav role="navigation" id="site-nav" class="nav">
		    <ul>
				<li><a href="" target="_blank"><span class="fa fa-facebook"></span></a></li>
				<li><a href="" target="_blank"><span class="fa fa-twitter"></span></a></li>
				<li><a href="" target="_blank"><span class="fa fa-github"></span></a></li>
		    </ul>
		</nav>
	</div><!-- /.top-navigation -->
	<div class="site-name">
		<a href="{{ site.url }}/">
			Van Neves / <span class="blog">Blog</span>
		</a>
	</div><!-- /.site-name -->
</div><!-- /.navigation-wrapper -->